.restable {
    margin: auto;
}

.errorMessage {
    margin: auto;
    display: table;
}

.comment-cell {
    max-width: 300px;
}

.sortable-tableheader {
    cursor: pointer;
    background: url(http://tablesorter.com/themes/blue/bg.gif) no-repeat 99%;
    padding: 0.2em 1.2em 0.2em 0.6em;
}

.borderless-cell {
    border-width: 0px; 
}

th {
    border: #a9a9a9 solid 1px;
    background-color: #d3d3d3;
    padding: 0.2em 0.6em 0.2em 0.6em;
}

td {
    border: #a9a9a9 solid 1px;
    padding: 0.2em 0.6em 0.2em 0.6em;
}

table {
    border-collapse: collapse;
}

tr:nth-child(2n+1) {
    background-color: #ededed;
}